{% spaceless %}<!doctype html><html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Hacker Dojo{% endblock %}</title>
        <link rel="icon" type="image/ico" href="{{cdn}}/favicon.ico" />
        <link rel="alternate" type="application/rss+xml" title="Hacker Dojo Events" href="http://events.hackerdojo.com/events.rss" />
        <link rel="stylesheet" href="{{cdn}}/static/style/bootstrap-small.css">
        <link href="{{cdn}}/static/style/mobile.css?v=v{{version}}" type="text/css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        {% block extrahead %}{% endblock %}
    </head>
<body>
<div id="contentwrapper_m">
    <header id="top-nav" class="navbar navbar-inverse navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header" style = "margin-left: 0px">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#hd-navbar-collapse">
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/" style="padding:0; color: #FFFFFF;">
                    <img src="{{cdn}}/static/images/hacker-dojo-icon.png" style = "height: 50px; padding-right: 6px;"></img>Hacker Dojo
                </a>
             </div>

             <nav class="navbar-collapse navbar-right collapse" id = "hd-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right" role = "menu">
                {% comment %}<li><a href="http://signup.hackerdojo.com/dashboard">Login</a></li>{% endcomment %}
                <li><a href="http://dashboard.hackerdojo.com">My Dashboard</a></li>
                <li><a href="http://events.hackerdojo.com/">Events</a></li>
                <li><a href="/Membership">Membership</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="http://wiki.hackerdojo.com/">Wiki</a></li>
                <li><a href="/Contact">Contact</a></li>
                <li><a href="/Give">Give</a></li>
                </ul>
             </nav>
    </div>
    </header>
    <div class="main_m">
        {% block main %}
        {% endblock %}
    </div>
    <div class="content_m">
        {% block content %}
        {% endblock %}
    </div>
        <div class ="fixed_footer">
        <section id = "bottom footer">
            Hacker Dojo &bull; 599 Fairchild Dr, Mountain View, CA 94043 &bull; <a href="mailto:info@hackerdojo.com">info@hackerdojo.com</a> &bull; twitter: <a href="https://twitter.com/#!/hackerdojo">@hackerdojo</a>
        </section>
        </div>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27117910-1']);
  _gaq.push(['_setDomainName', '.hackerdojo.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type='text/javascript' async src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type='text/javascript' async src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
{% endspaceless %}