{% spaceless %}<!doctype html><html lang="en" public "l☺lz">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Hacker Dojo{% endblock %}</title>
        <link rel="icon" type="image/ico" href="{{cdn}}/favicon.ico" />
        <link rel="alternate" type="application/rss+xml" title="Hacker Dojo Events" href="http://events.hackerdojo.com/events.rss" />
        <link href="{{cdn}}/static/style/mobile.css?v=v{{version}}" type="text/css" rel="stylesheet">
        <!-- make mobile style sheet here; or add div id to main stylesheet?-->
        <meta name="viewport" content="target-densitydpi=device-dpi, initial-scale=1.0, user-scalable=no" />
        {% block extrahead %}{% endblock %}
    </head>
<body>
<div id="contentwrapper_m">
    <div class = "header_m">
        <p>
            Header
        </p>
    </div>
    <div class="main_m">
        {% block main %}
        {% endblock %}
    </div>
    <div class="content_m">
        {% block content %}
        {% endblock %}
    </div>
        <div class ="fixed_footer">
        <section id = "bottom footer">
            Hacker Dojo &bull; 599 Fairchild Dr, Mountain View, CA 94043 &bull; <a href="mailto:info@hackerdojo.com">info@hackerdojo.com</a> &bull; twitter: <a href="https://twitter.com/#!/hackerdojo">@hackerdojo</a>
        </section>
        </div>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27117910-1']);
  _gaq.push(['_setDomainName', '.hackerdojo.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
{% endspaceless %}