{% extends 'base_mobile.html' %}
{% block extrahead %}
<meta property="og:site_name" content="Hacker Dojo"/>
<meta property="og:title" content="Hacker Dojo - Welcome to Silicon Valley's Tech Hub"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="http://www.hackerdojo.com/static/images/hacker-dojo.png"/>
<meta property="og:url" content="http://www.hackerdojo.com/"/>
<meta property="fb:admins" content="556346067"/>
{% endblock %}
{% block main %}
  <h2 class="tagline">Welcome to Silicon Valley's Tech Hub</h2>
	<div class = "page_one">
		<h2 style = "margin: 0;">About Us</h2><!-- add margin above-->
		<article>
			<section class="one">
				<h3>An Innovation Center</h3>
					<p>Welcome to Hacker Dojo! We're a community of hackers and startups located in Mountain View. Hacker Dojo is a place for building robots, businesses, and holding events.</p>
					<a href="/About" class="homepage-blurb">About us</a>
			</section>
			<section class="two">
				<h3>We Have Events</h3>
					<p>Events, lectures, parties, BarCamps, DevHouses, LAN parties, hackathons, knitting circles, tinkering, brainstorming and coworking: you name it, we got it.</p>
					<a href="http://events.hackerdojo.com/" class="homepage-blurb">See the full calendar</a>
			</section>
			<section class="four">
			<h3>Every Friday</h3>
					<p>Lightning Talks &amp; Happy Hour starts at 5:00 every Friday.Learn about new products &amp; companies at the Dojo. (Open to the Public)
					</p>
					<a href="/lightningtalks" class="homepage-blurb">Find out more</a>
			</section>
		<hr class="clear">
		</article>
	</div>
	<div class = "page-two">
		<div class = "content">
			<h2 style = "margin-bottom: 5px; margin-top:-5px;">Visit Us</h2><!-- add margin above-->
			<a style = "height:175px; width:288px;"href="/parking_directions">
			<img height="175" width="288" src="{{cdn}}/static/images/map.gif?v=2" class="image-border map">
			</a>
			<p>We're located at <a href='https://www.google.com/maps/place/Hacker+Dojo/@37.403057,-122.049845,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x9f6f7e2c42ca6e51'>599 Fairchild Dr. in Mountain View, CA.</a> Our phone number is (559)-827-8282, and you can <a href="/Contact">contact us</a> or <a href="https://twitter.com/#!/hackerdojo">follow us on Twitter</a>.</p>
			<hr class="clear">
		</div>
	</div>
	<div class = "page-three">
		<div class = "content">
			<h2 style = "margin: 0;">Events</h2><!-- add margin above-->
			{% for item in events %}
				{% ifchanged item.5 %}
				<h4>{{item.5}}</h4>
				{% endifchanged %}
				<table style = "display:inline-block; padding-left: 5px;">
					<tr>
					<td width="75" style ="padding-left: 5px;" >{{item.4}}</td>
					<td>
						<a href="http://events.hackerdojo.com/event/{{item.2}}">
					      {{item.1}}
						</a>
					  <div style="font-size:80%">Hosted by <a href="mailto:{{item.0}}@hackerdojo.com">{{item.0}}</a> 
						{% if item.3|length > 0 %}in {{item.3}}{% endif %}</div>
					</td>
					</tr>
				</table>
			{% endfor %}
			<hr class="clear"><!--use to create lines between content-->
		</div>
	</div>
{% endblock %}