<html>
    <head>
        <title>{% block title %}Hacker Dojo{% endblock %}</title>
        <link href="/static/style/new-css.css" type="text/css" rel="stylesheet">
    </head>
<body>
    <div id="content">
        <hr class="black"/>

        <section>
            <a href="/"><h1 class="logo">Hacker Dojo</h1></a>

            <nav>
                <!-- <a href="http://signup.hackerdojo.com/dashboard">Login</a> -->
                <a href="/Contact">Contact</a>
                <a href="http://wiki.hackerdojo.com/">Wiki</a>
                <a href="/About">About</a>
                <a href="/Membership">Membership</a>
                <a href="http://events.hackerdojo.com/">Events</a>
            </nav>

            <hr class="red"/>
            <h2 class="tagline">Welcome to the community center for hackers + thinkers.</h2>
        </section>

        <hr class="clear"/>

        {% block content %}
        {% endblock %}

        <img src="/static/images/footer-top-border.png" class="footer-top-border"/>

        <footer>
            Hacker Dojo &bull; 140A South Whisman Road &bull; Mountain View, CA 94041  &bull; <a href="mailto:info@hackerdojo.com">info@hackerdojo.com</a> &bull; twitter: <a href="https://twitter.com/#!/hackerdojo">@hackerdojo</a>
        </footer>
    </div>
</body>
</html>
