{% spaceless %}<!doctype html><html lang="en" public "l☺lz">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Hacker Dojo{% endblock %}</title>
        <link rel="icon" type="image/ico" href="{{cdn}}/favicon.ico" />
        <link rel="alternate" type="application/rss+xml" title="Hacker Dojo Events" href="http://events.hackerdojo.com/events.rss" />
        <link href="{{cdn}}/static/style/hackerdojo.css?v=v{{version}}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="{{cdn}}/static/style/bootstrap.min.css">
        <!--
        <script async type="text/javascript" src="{{cdn}}/static/js/jquery-1.4.2.min.js"></script>
        <script async type="text/javascript" src="{{cdn}}/static/js/jquery.simpletip-1.3.1.pack.js"></script>
        <script async type="text/javascript" src="{{cdn}}/static/js/hackerdojo.prod.pack.js?v=v{{version}}"></script>
        -->
        {% comment %}<link href="{{cdn}}/static/style/mobile.css?v=v{{version}}" media="screen and (max-width: 480px)" type="text/css" rel="stylesheet">{% endcomment %}        
        <!--[if lt IE 9]><script src="{{cdn}}/static/js/ie.html5.shim.js"></script><![endif]-->
        {% block extrahead %}{% endblock %}
    </head>
<body>
    <header id="top-nav" class="navbar navbar-inverse navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#hd-navbar-collapse">
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/">
                    <span id ="name">Hacker Dojo</span>
                </a>
             </div>

             <nav class="navbar-collapse navbar-right collapse" id = "hd-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right" role = "menu">
                    {% comment %}<li><a href="http://signup.hackerdojo.com/dashboard">Login</a></li>{% endcomment %}
                    <li><a href="http://dashboard.hackerdojo.com">My Dashboard</a></li>
                    <li><a href="http://events.hackerdojo.com/">Events</a></li>
                    <li><a href="/Membership">Membership</a></li>
                    <li><a href="/About">About</a></li>
                    <li><a href="http://wiki.hackerdojo.com/">Wiki</a></li>
                    <li><a href="/Contact">Contact</a></li>
                    <li><a href="/Give">Give</a></li>
                </ul>
             </nav>
    </div>
    </header>
   <!--
   <div id ="header_static">
        <hr class="black"/>
        <section>
            <a href="/"><h1 class="logo">Hacker Dojo</h1></a>
            <nav>
                {% comment %}<a href="http://signup.hackerdojo.com/dashboard">Login</a>{% endcomment %}
                <a href="/Give">Give</a>
                <a href="/Contact">Contact</a>
                <a href="http://wiki.hackerdojo.com/">Wiki</a>
                <a href="/About">About</a>
                <a href="/Membership">Membership</a>
                <a href="http://events.hackerdojo.com/">Events</a>
                <a href="http://dashboard.hackerdojo.com">My Dashboard</a>
            </nav>
            <div class = "open">
               <!- -hour is {{hour}}- ->
                {% if open %}
                  <span id="open" style="color:green; cursor:help; font-weight:bold">OPEN</span>
                {% else %}
                  <span id="closed" style="color:#999; cursor:help; font-weight:bold">CLOSED</span>
                {% endif %}
            </div>

            <hr class="red"/>
        </section>

    </div>
    <div id = "header_background"></div>
    -->
    <div id="main">
        {% block main %}
        {% endblock %}
    </div>
    <div id="contentwrapper">
    <div id="content">

        {% block content %}
        {% endblock %}

        <img src="{{cdn}}/static/images/footer-top-border.png" class="footer-top-border"/>

        <div class ="fixed_footer">
        <section id = "bottom footer">
            Hacker Dojo &bull; 599 Fairchild Dr, Mountain View, CA 94043 &bull; <a href="mailto:info@hackerdojo.com">info@hackerdojo.com</a> &bull; twitter: <a href="https://twitter.com/#!/hackerdojo">@hackerdojo</a>
        </section>
        </div>
    </div>
    </div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27117910-1']);
  _gaq.push(['_setDomainName', '.hackerdojo.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    $('a[href="/' + location.pathname.split("/")[1] + '"]').parent().addClass('active');
});
</script>

</body>
</html>
{% endspaceless %}
