{% extends 'base.html' %}
{% block title %}{{page.name|title}}{% endblock %}

{% block content %}
  <style>
    h2.tagline {display:none}
    #content {font-size:11pt;}
    #content p {margin:0}
  </style>
  <div id="content">
    <p style="margin-top:1em; padding-bottom:1em; margin-bottom:2em; border-bottom:1px dotted #ccc; font-size:12px; font-weight:bold"><a href="/">Home</a> &gt; {{page.name|title}}</p>
    {% autoescape off %}{{page.html}}{% endautoescape %}
  </div>

{% endblock %}

{% block side %}
  <ul id="side">
    <li><a href="/attend"><img src="/static/images/next.png" width="231" height="41" /></a></li>
  </ul>
{% endblock %}