{% extends 'base.html' %}
{% comment %}
<script type="text/javascript" src="{{cdn}}/static/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{cdn}}/static/js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="{{cdn}}/static/js/jquery.simpletip-1.3.1.pack.js"></script>
{% endcomment %}
{% block extrahead %}
<script type="text/javascript" src="{{cdn}}/static/js/hackerdojo.prod.pack.js?v=v{{version}}"></script>
<meta property="og:site_name" content="Hacker Dojo"/>
<meta property="og:title" content="Hacker Dojo - Welcome to Silicon Valley's Tech Hub"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="http://www.hackerdojo.com/static/images/hacker-dojo.png"/>
<meta property="og:url" content="http://www.hackerdojo.com/"/>
<meta property="fb:admins" content="556346067"/>
{% endblock %}
{% block content %}
    
{% comment %}
    <div id="mycarousel" style="overflow:hidden">
    <ul style="overflow:none">
    	<li>
            <img width="960" height="235" src="{{cdn}}/static/images/hero-pan.jpg" alt="" />
            <div class="hero-caption">599 Fairchild Building</div>
        </li>
        <li>
            <img width="960" height="235" class="lazyload" src="{{cdn}}/static/images/transparent-80.png" futuresrc="{{cdn}}/static/images/hero-aerial.jpg" alt="" />
            <div class="hero-caption">Aerial Silks</div>
        </li>
        <li>
            <img width="960" height="235" class="lazyload" src="{{cdn}}/static/images/transparent-80.png" futuresrc="{{cdn}}/static/images/hero1.jpeg" alt="" />
            <div class="hero-caption">Group hack day, March 11, 2010</div>
        </li>
        <li>
            <img width="960" height="235" class="lazyload" src="{{cdn}}/static/images/transparent-80.png" futuresrc="{{cdn}}/static/images/hero2.jpeg" alt="" />
            <div class="hero-caption">Opening Party</div>
        </li>
        <li>
            <img width="960" height="235" class="lazyload" src="{{cdn}}/static/images/transparent-80.png" futuresrc="{{cdn}}/static/images/hero3.jpeg" alt="" />
            <div class="hero-caption">TIGJam: Indie Game Developers Conference</div>
        </li>
        <li>
            <img width="960" height="235" class="lazyload" src="{{cdn}}/static/images/transparent-80.png" futuresrc="{{cdn}}/static/images/hero4.jpeg" alt="" />
            <div class="hero-caption">Interaction Design Class</div>
        </li>
        <li>
            <img width="960" height="235" class="lazyload" src="{{cdn}}/static/images/transparent-80.png" futuresrc="{{cdn}}/static/images/hero5.jpeg" alt="" />
            <div class="hero-caption">Hackers getting some sunshine =D</div>
        </li>
        <li>
            <img width="960" height="235" class="lazyload" src="{{cdn}}/static/images/transparent-80.png" futuresrc="{{cdn}}/static/images/hero6.jpg" alt="" />
            <div class="hero-caption">Our Official Policy Bear Meeting</div>
        </li>
        <li>
            <img width="960" height="235" class="lazyload" src="{{cdn}}/static/images/transparent-80.png" futuresrc="{{cdn}}/static/images/hero7.jpg" alt="" />
            <div class="hero-caption">Designing a TARDIS - wanna help?</div>
        </li>
    </ul>
    </div>
  </section>
    
  <div class="carousel-bullets">
	<ul>
		<li value="1" class="selected">&bull;</li>
		<li value="2">&bull;</li>
		<li value="3">&bull;</li>
		<li value="4">&bull;</li>
		<li value="5">&bull;</li>
		<li value="6">&bull;</li>
		<li value="7">&bull;</li>
	</ul>
  </div>
{% endcomment %}

<div align="center">
	<iframe width="560" height="315" src="//www.youtube.com/embed/mcg2By317ZI" frameborder="2" allowfullscreen></iframe>
	<section class="hero-image2">
{% comment %}
    <a href="https://www.eventbrite.com/e/hacker-dojo-holiday-party-tickets-19787704557" style="position:absolute; right:10px; top:240px; z-index:200"><img width="250" height="250" alt="Hacker Dojo Holiday Party" src="{{cdn}}/static/images/holidaypartyweb.png"; border="2", color="Crimson"></a>
 {% endcomment %}
</div>

  <div style="clear:both">&nbsp;</div>
	
	<hr class="clear">
	
	<article class="callouts span-two">
	
		<section class="one">
			<h3>An Innovation Center</h3>
				<p><img src="{{cdn}}/static/images/vertical-stripe.png" class="p-border">Welcome to Hacker Dojo! We're a community of hackers and startups located in Mountain View. Hacker Dojo is a place for learning to build robots, startups, and holding events.</p>
				<a href="/About" class="homepage-blurb">About us</a>
		</section>
	
		<section class="two">
		<h3>Become a Member</h3>
				<p><img src="{{cdn}}/static/images/vertical-stripe.png" class="p-border">Starting at $100 a month you can get your own RFID-key 24/7 access, high speed wifi, ability to attend all open events and more.  If you are not a Dojo member, Visiting hours are 10am - 9pm</p>
				<a href="/Membership" class="homepage-blurb">Join now</a>
		</section>
	
		<section class="three">
			<h3>We Have Events</h3>
				<p><img src="{{cdn}}/static/images/vertical-stripe.png" class="p-border">Events, lectures, parties, BarCamps, DevHouses, LAN parties, hackathons, knitting circles, tinkering, brainstorming and coworking: you name it, we got it.</p>
				<a href="http://events.hackerdojo.com/" class="homepage-blurb">See the full calendar</a>
		</section>
	
		<section class="four">
		<h3>Every Friday</h3>
				<p><img src="{{cdn}}/static/images/vertical-stripe.png" class="p-border">Lightning Talks &amp; Happy Hour starts at 5:00 every Friday.Learn about new products &amp; companies at the Dojo. (Open to the Public)
				</p>
				<a href="/lightningtalks" class="homepage-blurb">Find out more</a>
		</section>
		<section class = "six">
			<h3><a href="/parking_directions">Visit Us</a></h3>
				<p>We're located at 599 Fairchild Dr. in Mountain View, CA. Our phone number (650)-487-0070, and you can <a href="/Contact">contact us</a> or <a href="https://twitter.com/#!/hackerdojo">follow us on Twitter</a>.</p>
		</section>
	<hr class="clear">
	</article>
	
	<article class="callouts span-one">
		<section class="five">
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "http://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
				fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
			</script>
			<h3>Our Facebook Page</h3>
			<div style="width: 288px;height:380px;overflow-y:hidden;">
				<div class="fb-like-box" data-href="https://www.facebook.com/80950130546" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false" data-height="400" data-width="288" style="margin-top:-71px;" ></div>
			</div>
		</section>
		
	<hr class="clear">	
	</article>

{% endblock %}
 
