{% extends 'base.html' %}
{% block content %}

<script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.simpletip-1.3.1.pack.js"></script>


<xlink rel="stylesheet" type="text/css" href="http://sorgalla.com/projects/jcarousel/skins/tango/skin.css" />

<script type="text/javascript">

function mycarousel_itemVisibleInCallbackAfterAnimation(carousel, item, idx, state) {
    jQuery(jQuery('.carousel-bullets ul li')[idx-1]).addClass("selected");
};


function mycarousel_itemVisibleOutCallbackAfterAnimation(carousel, item, idx, state) {
    jQuery(jQuery('.carousel-bullets ul li')[idx-1]).removeClass("selected");
};


function mycarousel_initCallback(carousel) {
    jQuery('.carousel-bullets ul li').bind('click', function() {
      
        carousel.scroll(jQuery.jcarousel.intval(jQuery(this).attr("value")));
        return false;
    });

    jQuery('.jcarousel-scroll select').bind('change', function() {
        carousel.options.scroll = jQuery.jcarousel.intval(this.options[this.selectedIndex].value);
        return false;
    });
};

// Ride the carousel...
jQuery(document).ready(function() {
    jQuery("#mycarousel").jcarousel({
        scroll: 1,
        initCallback: mycarousel_initCallback,
        itemVisibleInCallback: {
            // onBeforeAnimation: mycarousel_itemVisibleInCallbackBeforeAnimation,
            onAfterAnimation:  mycarousel_itemVisibleInCallbackAfterAnimation
        },
        itemVisibleOutCallback: {
            // onBeforeAnimation: mycarousel_itemVisibleOutCallbackBeforeAnimation,
            onAfterAnimation:  mycarousel_itemVisibleOutCallbackAfterAnimation
        },
        buttonNextHTML: null,
        buttonPrevHTML: null,
        auto: 5,
        wrap: 'last',
    });
    $("#open").simpletip({
         content:"Hacker Dojo is currently open,<br>and being staffed by the following<br> volunteers:</p> {% for s in staff %}<p><img src='{{s.image_url}}' height=24 width=24 align=absmiddle hspace=3>{{s.name}}</p>{% endfor %}"
    });
    $("#closed").simpletip({
         content:"The Dojo is usually open 9AM-10PM<br/>on weekdays.  Weekend coverage will vary."
    });
    
    // {s.created|timesince} not working :(
});

</script>

 
	

          
  <section class="hero-image" >
    <div id="mycarousel" style="overflow:hidden">
    <ul style="overflow:none">
        <li>
            <img width="960" height="235" src="static/images/hero-image.png" alt="" />
            <div class="hero-caption">Group hack day, March 11, 2010</div>
        </li>
        <li>
            <img width="960" height="235" src="static/images/hero2.jpeg" alt="" />
            <div class="hero-caption">Opening Party</div>
        </li>
        <li>
            <img width="960" height="235" src="static/images/hero3.jpeg" alt="" />
            <div class="hero-caption">TIGJam</div>
        </li>
        <li>
            <img width="960" height="235" src="static/images/hero4.jpeg" alt="" />
            <div class="hero-caption">Interaction Design Class</div>
        </li>
        <li>
            <img width="960" height="235" src="static/images/hero5.jpeg" alt="" />
            <div class="hero-caption">Hackers getting some sunshine</div>
        </li>
        <li>
            <img width="960" height="235" src="static/images/hero6.jpg" alt="" />
            <div class="hero-caption">Official Policy Bear Meeting</div>
        </li>
        <li>
            <img width="960" height="235" src="static/images/hero7.png" alt="" />
            <div class="hero-caption">Designing a TARDIS</div>
        </li>
    </ul>
    </div>
  </section>
    
    <div class="carousel-bullets">
			<ul>
				<li value="1" class="selected">&bull;</li>
				<li value="2">&bull;</li>
				<li value="3">&bull;</li>
				<li value="4">&bull;</li>
				<li value="5">&bull;</li>
				<li value="6">&bull;</li>
				<li value="7">&bull;</li>
			</ul>
    </div>
    

     
		
		<div style="clear:both">
&nbsp;
		</div>

	
	<hr class="clear">	
	
	<article class="callouts span-two">
	
		<section class="one">
			<h3>Oh Hey There</h3>
				<p><img src="static/images/vertical-stripe.png" class="p-border">Welcome to Hacker Dojo! We're a community center in Mountain View. Hacker Dojo is part coworking space, part events venue, and part big social living room.</p>
				<a href="/Visitors%20Guide" class="homepage-blurb">Read the Visitor's Guide</a>
		</section>
	
		<section class="two">
		<h3>Join Us</h3>
				<p><img src="static/images/vertical-stripe.png" class="p-border">You can always drop in, anytime, for free.  But for $100 a month, you can get a bunch of stuff that I don't know about because the wiki doesn't say.</p>
				<a href="/Membership" class="homepage-blurb">Join now</a>
		</section>
	
		<section class="three">
			<h3>We Have Events</h3>
				<p><img src="static/images/vertical-stripe.png" class="p-border">Events, lectures, parties, BarCamps, DevHouses, LAN parties, hackathons, knitting circles, tinkering, brainstorming and coworking: you name it, we got it.</p>
				<a href="http://events.hackerdojo.com/" class="homepage-blurb">See the full calendar</a>
		</section>
	
		<section class="four">
		<h3>Latest + Greatest</h3>
				<p><img src="static/images/vertical-stripe.png" class="p-border">We need instructors.  We currently have a Cloud Computing using the Amazon AWS technology stack and Beginning/Advanced Javascript classes...</p>
				<a href="blog.html" class="homepage-blurb">Find out more</a>
		</section>
	<hr class="clear">
	</article>
	
	<article class="callouts span-one">
		<section class="five">
		  <div style="float:right; font-size:16px">
		    {% if staff %}
		      <span id="open" style="color:green; font-weight:bold">OPEN</span>
		    {% else %}
		      <span id="closed" style="color:#999; font-weight:bold">CLOSED</span>
		    {% endif %}
		  </div>
			<h3>Visit Us</h3>
				
				<p><img src="static/images/vertical-stripe-long.png" class="p-border"> <img src="static/images/map.png" class="image-border map">We're located at 140A South Whisman Road in Mountain View, CA. Our phone number is
(650) 898-7925, and you can <a href="/Contact%20Us">contact us</a> or <a href="https://twitter.com/#!/hackerdojo">follow us on Twitter</a>.</p>
		</section>
		
	<hr class="clear">	
	</article>
	
  
{% endblock %}