<div id="said">
  <div class="quote" id="quote-2">
    <div class="quote-text">
      “I go to DevHouse to get inspired by the unexpected projects of others, and to get new ideas for my own. It's a party of thought.”
    </div>
    <div class="quote-author">&mdash;Ben McGraw,<br />Game Developer</div>
  </div>
  <div class="quote" id="quote-1">
    <div class="quote-text">
      “I love the quality of people at SHDH. When you're around so much amazing creativity, you can't help but want to create.”
    </div>
    <div class="quote-author">&mdash;Caroline Ratajski,<br />Coder / Writer</div>
  </div>
</div>